* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #aaa;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 550px;
    height: 300px;
    border: 4px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: dodgerblue;
    background: linear-gradient( #ccc, whitesmoke);
    box-shadow: 0 0 30px #555,inset 0 0 6px #555;
    border-radius: 10% 10% 35% 35%;
}

span {
    font-size: 28px;
    font-family: calibri;
    color: #fff;
    font-weight: bold;
    margin: 0 0 15px 0;
    text-shadow: 0 3px 5px #777, 0 3px 5px #777; 
}

#topContainer {
    width: 98%;
    height: 50%;
    box-shadow: 0 2px 14px #777, 0 2px 14px #777;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8% 8% 35% 35%;
}

#play {
    border: 4px solid #eee;
    box-shadow: 0 0 14px #555, 0 0 14px #555;
    width: 165px;
    height: 165px;
    /* background: rgb(25, 138, 250); */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    hyphens: none;
    text-align: center;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    font-size: 23px;
    /* color: rgb(25, 138, 250); */
    text-shadow: 0 0 5px #333, 0 0 5px #333;
}

.currentPart {
    width: 75%;
    height: 50px;
    margin: 20px;
    box-shadow: inset 0 0 15px 1px #999, 0 0 13px 1px #999;
    border-radius: 12px 12px 38px 38px;
    font-size: 18px;
    padding-bottom: 10px;
    outline: none;
}

#audio {
    margin-bottom: 20px;
}

#preFile, #nextFile {
    padding: 12px 20px;
    background: #fff;
    border: none;
    border: 3px solid #eee;
    box-shadow: 0 0 12px #666, 0 0 12px #666;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px #666, 0 0 3px #666;
}

#preFile {
    border-radius: 80% 8px 8px 80%;
}

#nextFile {
    border-radius:  8px 80% 80% 8px;
}

#preFile:hover, #nextFile:hover {
    cursor: pointer;
    background: #ddd;
}